<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.BusProject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project">
        <activity android:name="com.example.BusProject.payment_activity" />
        <activity android:name="com.example.BusProject.SeatSelection" />
        <activity android:name="com.example.BusProject.deletebus" />
        <activity android:name="com.example.BusProject.updatebus" />
        <activity android:name="com.example.BusProject.adminlogin" />
        <activity android:name="com.example.BusProject.adminsignup" />
        <activity android:name="com.example.BusProject.adminpanel" />
        <activity android:name="com.example.BusProject.addbus" />
        <activity android:name="com.example.BusProject.receipt" />
        <activity android:name="com.example.BusProject.Booking" />
        <activity android:name="com.example.BusProject.Signup" />
        <activity android:name="com.example.BusProject.Login" />
        <activity android:name="com.example.BusProject.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.BusProject.ViewListContents" />
    </application>

</manifest>